body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #d2031d;
	background-size: cover;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
}

.section {
	min-width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	scroll-snap-align: start;
}

.App {
	height: 100vh;
	width: 100vw;
	max-width: 1280px;
	margin: 0% 15%;
}

.top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

h1 {
  margin: 0;
  font-size: 1.2em;
}

.top img {
  width: 20%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

#buy-btn {
  background: linear-gradient(#FF7E7E, #b10404);
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: large;
  padding: 5px 5px;
  height: 30px;
}

#facebook-btn {
  padding: 5px 10px;
  background: linear-gradient(#1A4172, #3A5895);
  border-radius: 2px;
  color: #fff;
  font-size: large;
  border: none;
}

#buy-btn:hover {
  cursor: pointer;
}

#facebook-btn:hover {
  cursor: pointer;
}

.icon-btn {
  background-image: url('../../public/img/icons/buy-btn.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 0 2em;
}

.txt-content {
  margin-left: 1em;
  width: 500px;
}

.txt-content h1,
.txt-content h3,
.txt-content p {
  color: #fff;
}

.txt-content img {
  position: relative;
  bottom: 100px;
  right: 28px;
  z-index: 1;
  color: #fff;
}

.img-content img {
	position: relative;
}

#img-promocion {
  bottom: 50px;
  width: 108%;
}

.content-app {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.content-app::-webkit-scrollbar {
  display: none;
}

#home-parraf {
	margin: 0px 33px;
}

p {
	font-size: 0.5em;
}

h3 {
	font-size: 0.5em;
    font-weight: 400;
}

.footer {
	position: fixed;
	display: flex;
	justify-content: center;
	gap: 0.5em;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	left: 0%;
}

.footer p {
	font-size: small;
}

@media(max-width: 1100px) {
	.content {
		flex-direction: column;
		align-items: center;
	}

	#img-promocion {
		bottom: 80px;
    	width: 90%;
	}

	.top {
		width: 96vw;
		margin: 2vw;
		align-items: flex-start;
	}

	.top img {
		width: 25%;
	}

	.buttons {
		margin-top: 0.5em;
	}

	.txt-content {
		width: 800px;
		margin-left: 0;
	}

	.txt-content img {
		right: 0px;
		width: 80%;
		bottom: 75px;
	
	}

	.footer {
		gap: 0.3em
	}

	.footer p {
		font-size: 0.3em;

	}
}